<div class='main-nav'>
  <div class='navbar navbar-inverse'>
   
    <div class='clearfix'></div>
    <div class='navbar-collapse '>
      <nav>
        <ul>
          <li>
            <a href="#" routerLink="/">Home</a>
          </li>
          <li>
            <a href="#" routerLink="/posts">Posts</a>
          </li>
          <li>
            <a href="#" routerLink="/gallery">Gallery</a>
          </li>
          <li>
            <a href="#" routerLink="/contactus">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
